<mat-toolbar color="primary">
    <button mat-icon-button class="wardrobe-app-icon" aria-label="Wardrobe app icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Wardrobe App</span>
    <span class="wardrobe-app-spacer"></span>
    <button mat-icon-button class="wardrobe-app-icon favorite-icon"
        aria-label="Wardrobe app icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="wardrobe-app-icon" aria-label="Wardrobe-app icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>