<app-wardrobe-view-layout>
    <div app-wardrobe-sidenav>
        <h3>My Wardrobe</h3>
        <h2>User Name</h2>
    </div>
    <div app-wardrobe-right-panel>
        <mat-card>
            <mat-card-content>
                <h4>Search criteria</h4>
                <pre style="white-space: pre-wrap;">
What is Lorem Ipsum?
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
</pre>
            </mat-card-content>
        </mat-card>
    </div>
    <div app-wardrobe-main-content>
        <mat-card class="my-clothes-card">
            <mat-card-header>
                <h4>My clothes</h4>
            </mat-card-header>
            <mat-card-content>
                <mat-grid-list [cols]="gridListConfig.cols" rowHeight="1:1.5" gutterSize="8">
                    <mat-grid-tile class="clothing-item-tile" *ngFor="let clothingItem of clothes">
                        <app-clothing-item-card class="clothing-item-card"
                            [clothingItem]="clothingItem"></app-clothing-item-card>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-card-content>
        </mat-card>
    </div>
</app-wardrobe-view-layout>