:host {
    overflow: visible;
}

.my-clothes-card ::ng-deep .mat-grid-tile-content {
    align-items: flex-start;
}

.my-clothes-card ::ng-deep .mat-grid-tile {
    overflow: visible;
}


.clothing-item-card {
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
}